.accs {
  border: 1px solid #000;
  overflow: hidden;

  .acc {
    background: #f0f0f0;
    cursor: pointer;
    transition: background-color 0.3s ease; /* Add a smooth transition */
  }

  .acc-content {
    padding-left: 10px;
    padding-right: 10px;
    height: 0;
    overflow: hidden;
    transition-duration: 0.1s;
    transition-timing-function: ease-out;
    transition-property: height, max-height, padding-top, padding-bottom;
  }

  .acc-label{
    padding:10px;
    display: block;
    width: 100%;
  }

  input{
    display: none;
    &:checked ~ .acc-content {
      padding-top: 10px;
      padding-bottom: 10px;
      height: 100%;
    }
  }
}