.slider {
	--slider-w: 400px;
	--slider-h: 300px;
	width: var(--slider-w);
	height: var(--slider-h);
	overflow: hidden;
	border-radius: 5px;

	.slide {
		width: var(--slider-w);
		height: var(--slider-h);
		float: left;
		position: relative;

		&-holder {
			width: 400%;
			position: relative;
			left: 0;
			will-change: transform;
			animation: scroller 10s infinite;
		}
	}
}